*.bak
*.log
.pyc
netZooPy/netZooPy/pypanda/*.pyc
netZooPy/netZooPy/pypuma/*.pyc
netZooPy/netZooPy/pypanda/output*
netZooPy/netZooPy/pypuma/output*
dist/
*.egg-info/
.DS_Store
*.pairs*
test/
lioness*/
output*
.pypirc
build/
dist/
pypuma.egg*
.pypirc
test_*.txt
pypandaenv/
.idea/
netZooPy/netZooPy/pypuma/__pycache__
netZooPy/netZooPy/pypuma/__pycache__/*
top*genes.png
Toy_Panda.pairs.txt
Toy_Puma.pairs.txt
test.py
files.txt
*.pyc
