*.bak
*.log
.pyc
pypanda/*.pyc
pypuma/*.pyc
pypanda/output*
pypuma/output*
dist/
*.egg-info/
.DS_Store
*.pairs*
test/
lioness*/
output*
.pypirc
build/
dist/
pypuma.egg*
.pypirc
test_*.txt
pypumaenv/
.idea/
pypuma/__pycache__
pypuma/__pycache__/*