*.bak
*.log
.pyc
netZooPy/netZooPy/pypanda/*.pyc
netZooPy/netZooPy/pypuma/*.pyc
netZooPy/netZooPy/pypanda/output*
netZooPy/netZooPy/pypuma/output*
dist/
*.egg-info/
.DS_Store
*.pairs*
test/
lioness_output/
output*
.pypirc
build/
dist/
pypuma.egg*
.pypirc
test_*.txt
pypandaenv/
.idea/
netZooPy/netZooPy/pypuma/__pycache__
netZooPy/netZooPy/pypuma/__pycache__/*
top*genes.png
Toy_Panda.pairs.txt
Toy_Puma.pairs.txt
test.py
files.txt
*.pyc
travis_*.txt
*.npy
Travis
clustergroups.csv
dist_matrix.csv
mt_out.csv
pt_out.csv
*.ipynb
reg_memb.txt
tar_memb.txt
gt_panda*.txt


!tests/lioness
!tests/lioness/*
.DS_Store

*/debug*

.vscode/*

ligress/
panda.txt
panda_remove.txt
pan_test_panda.txt
