language: python

os:
   - linux
   - osx

python:
   - "3.6"
   - "3.7"
   - "3.8"

install:
   - pip3 install -r requirements.txt
   - pip3 install pytest
   - pwd
   - pip3 install -e .
   - pip3 install codecov
   - pip install pytest-cov

script: 
   - travis_wait pytest --cov=netZooPy tests

branches:
  only:
  - master
  - devel

after_success:
   - codecov
