name: conda build test
on:
  push:
    branches:
      - master
      - devel

jobs:
  build:
    name: Build package
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target-platform: linux-64
          - os: ubuntu-latest
            target-platform: noarch
          - os: ubuntu-24.04-arm
            target-platform: linux-aarch64
          - os: macos-13
            target-platform: osx-64
          - os: macos-latest
            target-platform: osx-arm64
    steps:
    - uses: actions/checkout@v4
    - name: Build conda package
      uses: prefix-dev/rattler-build-action@v0.2.33
      with:
        # needs to be unique for each matrix entry
        recipe-path: recipe/
        artifact-name: package-${{ matrix.target-platform }}
        build-args: --target-platform ${{ matrix.target-platform }}${{ matrix.target-platform == 'linux-aarch64' && ' --no-test' || '' }}
    - name: Show built packages
      run: |
        ls -lh rattler-build/**/*.conda || true

        
